# Babel extraction configuration
# See: https://babel.pocoo.org/en/latest/msg_extraction.html

[extractors]
# Python source files
python = babel.messages.extract:extract_python

[python: **.py]
# Mark all gettext calls as translatable
keyword = _
keyword = gettext
keyword = ngettext:1,2
keyword = lazy_gettext
